/* Fonts */

@import url(../fonts/fonts.css);

/* Base */

@import url(../css/base/reset.css);
@import url(../css/base/normalize.css);

/* Utils */

@import url(../css/utils/variables.css);
@import url(../css/utils/common.css);

@keyframes pulseScale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.07;
  }
  100% {
    scale: 1;
  }
}

/* header */

.header {
  padding-top: 16px;
  padding-bottom: 28px;
}

.header .info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 40px;
}

.header .info-container .info-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header .info-container .name {
  color: #090909;
  font-family: Romul;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 12.1px */
  letter-spacing: -0.33px;
}

.header .info-container .info {
  color: #c62719;
  font-family: 'Helvetica Neue';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}

.header .info-container .info-box:nth-of-type(2) .name {
  text-align: right;
}

.header .title {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 26.1px */
  letter-spacing: -1.16px;
  text-transform: uppercase;

  margin-bottom: 4px;
}

.header .title-container {
  margin-top: -4px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  margin-bottom: 16px;
}

.header .title-container span {
  color: #c62719;
  font-family: Romul;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 54px */
  letter-spacing: -2.4px;
  text-transform: uppercase;
}

.header .subtitle {
  color: #c62719;
  font-family: 'Helvetica Neue';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 18px */
  letter-spacing: -0.3px;
  text-transform: uppercase;

  max-width: 225px;
}

.header .desc {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.48px;

  max-width: 280px;
  margin: 0 auto 16px auto;
}

.header .image-container {
  position: relative;

  display: flex;
  align-items: end;

  background-image: url(../img/header/header-bg-1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 390px;

  margin-bottom: 16px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header .image-container {
    background-image: url(../img/header/header-bg-2x.jpg);
  }
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  max-width: 320px;
  margin: 0 auto;

  margin-bottom: 16px;
}

.header-list .list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 13.2px */
  letter-spacing: -0.24px;

  padding: 8px;
  max-width: 158px;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.header-list .list-item:last-child {
  padding: 8px 36px;
  max-width: 100%;
}

.buy-link {
  display: block;

  max-width: 244px;
  width: 100%;
  margin: 0 auto;
  border: inherit;

  animation: pulseScale 2000ms infinite;
}

.buy-container {
  background: #c62719;
  padding: 8px;
}

.buy-text {
  color: #fff;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buy-text span {
  font-size: 13px;
  font-weight: 300;
}

/* bonuses */

.bonuses .title {
  color: #090909;
  text-align: center;
  font-family: Romul;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%; /* 37.8px */
  letter-spacing: -1.44px;

  margin-bottom: 30px;
}

.bonuses-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.bonuses-list .bonus-image {
  margin: 0 auto 4px auto;
}

.bonuses-list .item-text {
  color: #c62719;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 15.4px */
  letter-spacing: -0.14px;

  max-width: 240px;
  margin: 0 auto;
}

.bonuses-list .item-text span {
  color: #090909;
  font-weight: 300;
}

/* .bonuses-list .bonuses-item:nth-child(2)::after {
  display: block;
  content: '+';

  color: #c62719;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 64px;
  font-style: normal;
  font-weight: 200;
  line-height: 110%; /* 70.4px */
/* letter-spacing: -0.64px; */
/* }  */

/* .bonuses-list .bonuses-item:nth-child(3) .item-text {
  max-width: 161px;
} */

/* for-you */

.for-you {
  padding-top: 100px;
}

.for-you .title {
  color: #090909;
  text-align: center;
  font-family: Romul;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 27.6px */
  letter-spacing: -0.96px;

  max-width: 260px;
  margin: 0 auto 20px auto;
}

.for-you .for-you-image {
  margin: 0 auto 40px auto;
}

.for-you .subtitle {
  color: #c62719;
  text-align: center;
  font-family: Romul;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 27.6px */
  letter-spacing: -0.96px;

  margin-bottom: 20px;
}

.for-you-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  max-width: 320px;
  margin: 0 auto;
}

.for-you-list .list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 18.4px */
  letter-spacing: -0.16px;

  padding: 20px 10px;
  max-width: 156px;
  width: 100%;
  border: 1px solid #c62719;
}

.for-you-list .list-item:last-child {
  max-width: 100%;
  padding: 20px 50px;
}

/* for-those */

.for-those .title {
  color: #090909;
  text-align: center;
  font-family: Romul;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 36.8px */
  letter-spacing: -1.28px;

  margin-bottom: 30px;
}

.for-those-list .list-item::after {
  content: '';
  display: block;

  height: 1px;
  width: 320px;

  background: #000;

  margin: 20px auto;
}

.for-those-list .list-item:last-child::after {
  display: none;
}

.for-those-list .item-number {
  color: #c62719;
  font-family: Bolkit;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  letter-spacing: -0.32px;
}

.for-those-list .item-text {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 18.4px */
  letter-spacing: -0.18px;
}

.for-those-list .item-text span {
  font-weight: 500;
}

/* about-author */

.about-author {
}

.about-author .title {
  color: #090909;
  text-align: center;
  font-family: Romul;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%; /* 29.4px */
  letter-spacing: -1.12px;

  margin-bottom: 20px;
}

.about-author .image-container {
  position: relative;

  display: flex;
  align-items: end;

  background-image: url(../img/about-author/author-1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 380px;

  margin-bottom: 20px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about-author .image-container {
    background-image: url(../img/about-author/author-2x.jpg);
  }
}

.about-author .name {
  display: block;

  color: #fff;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%; /* 25.2px */
  letter-spacing: -0.48px;
  text-transform: uppercase;

  margin: 0 auto;
  padding-bottom: 20px;
}

.about-author-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.about-author-list .list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 12px;
  border: 1px solid #090909;
  width: 156px;
  height: 156px;
}

.about-author-list .item-text {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 17.25px */
}

/* about-intensive */

.about-intensive {
}

.about-intensive .title {
  color: #c62719;
  text-align: center;
  font-family: Romul;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%; /* 33.6px */
  letter-spacing: -1.28px;

  margin-bottom: 10px;
}

.about-intensive .desc {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 18.4px */

  max-width: 260px;
  margin: 0 auto 22px auto;
}

.about-intensive .desc span {
  color: #c62719;
  font-weight: 500;
}

.about-intensive-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.about-intensive-list .list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 17.25px */

  padding: 12px 20px;
  border: 1px solid #c62719;
  max-width: 156px;
  height: 60px;
  width: 100%;
}

/* program */

.program .title {
  color: #090909;
  font-family: Romul;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%; /* 37.8px */
  letter-spacing: -1.44px;

  margin-bottom: 20px;
}

.program-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.program-list .image-box {
  border: 1px solid #090909;
}

.program-list .item-image {
}

.program-list .lesson-box {
  padding: 32px 16px;
  border-left: 1px solid #090909;
  border-right: 1px solid #090909;
}

.program-list .number {
  color: #c62719;
  font-family: Romul;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 28.75px */
  letter-spacing: -1px;
}

.program-list .text {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 18.4px */
  letter-spacing: -0.17px;
}

.program-list .result-box {
  padding: 24px 16px;
  border: 1px solid #090909;
  background: #c62719;
}

.program-list .result-title {
  color: #fff;
  font-family: Romul;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 23px */
  letter-spacing: -0.8px;

  margin-bottom: 12px;
}

.program-list .result-text {
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 115%; /* 14.95px */
}

.compare-container {
  padding: 24px 27px;
  background: #f6f6f6;

  max-width: 320px;
  width: 100%;
  margin: 60px auto 0 auto;
}

.compare-container > .title {
  color: #c62719;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 22px */
  letter-spacing: -0.2px;

  margin-bottom: 8px;
}

.compare-container > .desc {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 18.4px */
  letter-spacing: -0.16px;
}

/* buy-section */

.buy-section {
}

.buy-section .buy-wrapper {
  position: relative;

  padding: 30px 20px;
  border: 1px solid #090909;
}

.buy-heart {
  position: absolute;
  left: 50%;
  top: -20px;

  transform: translate(-50%);
}

.buy-section .title {
  color: #c62719;
  text-align: center;
  font-family: Romul;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%; /* 23.1px */
  letter-spacing: -0.88px;

  margin-bottom: 32px;
}

.buy-section .price {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */

  margin-bottom: 24px;
}

.buy-section .buy-link {
  margin-bottom: 24px;
}

.buy-section .price span {
  font-weight: 300;
  text-decoration: line-through;
}

.buy-section .buy-btn {
  color: #fff;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border: inherit;
  padding: 20px;
  background: #c62719;
  max-width: 280px;
  width: 100%;

  margin: 0 auto 10px auto;

  animation: pulseScale 2000ms infinite;
}

.buy-section .desc {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 14.95px */
  letter-spacing: -0.13px;

  max-width: 268px;
  margin: 0 auto;
}

.buy-section .desc span {
  font-weight: 300;
}

/* study-format */

.study-format {
}

.study-format .title {
  color: #c62719;
  text-align: center;
  font-family: Romul;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%; /* 37.8px */
  letter-spacing: -1.44px;
}

.study-format-list {
}

.study-format-list .list-item {
}

.study-format-list .list-item:nth-child(1)::before {
  content: '';
  display: block;

  height: 1px;
  width: 100%;

  background: #000;

  margin: 20px auto 30px auto;
}

.study-format-list .list-item::after {
  content: '';
  display: block;

  height: 1px;
  width: 100%;

  background: #000;

  margin: 30px auto;
}

.study-format-list .item-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.study-format-list .number {
  color: #c62719;
  font-family: Bolkit;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 52.8px */
  letter-spacing: -0.48px;
}

.study-format-list .text {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: -0.16px;

  max-width: 230px;
  width: 100%;
}

.study-format-list .text span {
  font-weight: 500;
}

/* you-get */

.you-get .title {
  color: #090909;
  text-align: center;
  font-family: Romul;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 25.3px */
  letter-spacing: -0.88px;

  margin: 0 auto 20px auto;
}

.you-get .you-get-image {
  margin: 0 auto 40px auto;
}

.you-get .subtitle {
  color: #c62719;
  text-align: center;
  font-family: Romul;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 27.6px */
  letter-spacing: -0.96px;

  margin-bottom: 20px;
}

.you-get-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  max-width: 320px;
  margin: 0 auto;
}

.you-get-list .list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 18.4px */
  letter-spacing: -0.16px;

  padding: 20px;
  max-width: 156px;
  height: 120px;
  width: 100%;
  border: 1px solid #c62719;
}

/* questions */

.questions {
  padding-bottom: 0;
}

.questions .title {
  color: #c62719;
  font-family: Romul;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%; /* 33.6px */
  letter-spacing: -1.28px;
}

/* questions */

.questions-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 345px;

  margin-bottom: 40px;
}

.questions-item-svg {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;

  flex-shrink: 0;
  background-image: url('../img/question-arrow.svg');
  background-size: 21px 12px;
  background-position: center;
  background-repeat: no-repeat;

  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.questions-item.active .questions-item-svg {
  transform: rotate(180deg);
}

.questions-list .questions-item .questions-answer-container {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.questions-wrapper {
  min-height: 0;
}

.questions-list .questions-item.open .questions-answer-container {
  grid-template-rows: 1fr;
}

/*  */

.questions-item:nth-child(1)::before {
  content: '';
  display: block;

  height: 1px;
  width: 100%;

  background: #000;

  margin: 20px auto 20px auto;
}

.questions-item::after {
  content: '';
  display: block;

  height: 1px;
  width: 100%;

  background: #000;

  margin: 30px auto 20px auto;
}

.questions-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions-item-title {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 18.4px */
  letter-spacing: -0.16px;
  text-transform: uppercase;
}

.questions-answer {
  padding-top: 20px;

  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 16.1px */
  letter-spacing: -0.14px;
}

/* footer */

.footer {
}

.fop-box {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 14.95px */
  letter-spacing: -0.13px;
  text-transform: uppercase;

  margin-bottom: 12px;
}

.fop-box .name {
  margin-bottom: 4px;
}

.mail-link {
  display: block;
  margin-bottom: 40px;
}

.mail-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.mail-box .mail {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 14.95px */
  letter-spacing: -0.13px;
  text-transform: uppercase;
}

.deals-box {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 14.95px */
  letter-spacing: -0.13px;
  text-transform: uppercase;

  margin-bottom: 60px;
}

.deals-box .public {
  margin-bottom: 4px;
}

.dising-creator {
  display: block;
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 14.95px */
  letter-spacing: -0.13px;
  text-transform: uppercase;

  max-width: 120px;
  margin: 0 auto;
}

.dising-creator span {
  color: #c62719;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -0.13px;
  text-transform: uppercase;
}

/* modal */

body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  opacity: 1;
  visibility: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 999;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  padding-top: 50px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;

  max-width: 400px;
  width: 95%;
  max-height: 600px;

  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
